html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

h2, h4, h5 {
  font-size: 18px;
  margin: 20px 0; }

html {
  color: black; }

body {
  font-family: Arial, 'sans serif'; }

p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 28px;
  font-weight: 400; }

span {
  font-size: 14px; }

main {
  max-width: 80%;
  height: auto;
  margin: 7% auto; }

a {
  color: inherit; }

.print, .tag, .portfolio, .contact {
  display: none; }

.profile, .resume {
  border-bottom: 1px solid #b1b1b1;
  display: block;
  height: auto; }
  .profile .main-content, .resume .main-content {
    display: flex; }

.portfolio, .contact {
  display: none; }

.front-end p, .other p, .graphic p {
  font-size: 11px;
  font-family: "cabin", sans-serif;
  color: #665f54; }

.front-end .progress-bar, .other .progress-bar, .graphic .progress-bar {
  background-color: #3e3e3e;
  width: 100%;
  height: 4px;
  background-color: #e0ddd9; }
  .front-end .progress-bar .value, .other .progress-bar .value, .graphic .progress-bar .value {
    height: 4px;
    display: flex;
    background-color: #665f54;
    width: 1%; }
    .front-end .progress-bar .value.html, .other .progress-bar .value.html, .graphic .progress-bar .value.html {
      width: 95%; }
    .front-end .progress-bar .value.css, .other .progress-bar .value.css, .graphic .progress-bar .value.css {
      width: 90%; }
    .front-end .progress-bar .value.js, .other .progress-bar .value.js, .graphic .progress-bar .value.js {
      width: 70%; }
    .front-end .progress-bar .value.jq, .other .progress-bar .value.jq, .graphic .progress-bar .value.jq {
      width: 85%; }
    .front-end .progress-bar .value.boot, .other .progress-bar .value.boot, .graphic .progress-bar .value.boot {
      width: 70%; }
    .front-end .progress-bar .value.sass, .other .progress-bar .value.sass, .graphic .progress-bar .value.sass {
      width: 90%; }
    .front-end .progress-bar .value.git, .other .progress-bar .value.git, .graphic .progress-bar .value.git {
      width: 80%; }
    .front-end .progress-bar .value.php, .other .progress-bar .value.php, .graphic .progress-bar .value.php {
      width: 35%; }
    .front-end .progress-bar .value.pug, .other .progress-bar .value.pug, .graphic .progress-bar .value.pug {
      width: 80%; }
    .front-end .progress-bar .value.java, .other .progress-bar .value.java, .graphic .progress-bar .value.java {
      width: 40%; }
    .front-end .progress-bar .value.ps, .other .progress-bar .value.ps, .graphic .progress-bar .value.ps {
      width: 95%; }
    .front-end .progress-bar .value.ai, .other .progress-bar .value.ai, .graphic .progress-bar .value.ai {
      width: 85%; }
    .front-end .progress-bar .value.lr, .other .progress-bar .value.lr, .graphic .progress-bar .value.lr {
      width: 70%; }
    .front-end .progress-bar .value.id, .other .progress-bar .value.id, .graphic .progress-bar .value.id {
      width: 45%; }
    .front-end .progress-bar .value.cr, .other .progress-bar .value.cr, .graphic .progress-bar .value.cr {
      width: 60%; }

/* ----------------------
 ** PROFILE styles
 ** ------------------- */
.social {
  display: none; }

.profile-content {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .profile-content span {
    padding-bottom: 5px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #e0ddd9; }

.main-info {
  width: 90%; }
  .main-info h3 {
    color: #665f54; }

.details {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 30px 0; }

/* ----------------------
 ** RESUME styles
 ** ------------------- */
.side-text {
  font-size: 22px;
  width: 100%;
  letter-spacing: 8px;
  text-align: center;
  padding: 20px 0;
  color: #665f54; }

.resume {
  height: 100%; }
  .resume .main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .resume .main-content .wrapper, .resume .main-content .skills {
      width: 100%; }
    .resume .main-content .wrapper {
      padding-top: 30px;
      border-bottom: 1px solid #e0ddd9; }
      .resume .main-content .wrapper .education, .resume .main-content .wrapper .experience {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center; }
        .resume .main-content .wrapper .education .resume_item, .resume .main-content .wrapper .experience .resume_item {
          width: 90%;
          padding: 20px 0; }
      .resume .main-content .wrapper .education {
        border-bottom: 1px solid #e0ddd9; }
        .resume .main-content .wrapper .education .resume_item span {
          color: #665f54; }
          .resume .main-content .wrapper .education .resume_item span a {
            text-decoration: none; }
        .resume .main-content .wrapper .education .resume_item h4 {
          margin: 10px 0; }
    .resume .main-content .skills {
      padding-top: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; }
      .resume .main-content .skills h5 {
        padding: 20px 0; }
      .resume .main-content .skills .front-end, .resume .main-content .skills .other, .resume .main-content .skills .graphic, .resume .main-content .skills .languages {
        width: 90%; }
      .resume .main-content .skills .languages .lang {
        padding-bottom: 5px;
        display: block;
        text-align: right;
        margin-bottom: 20px;
        border-bottom: 1px solid #e0ddd9; }
        .resume .main-content .skills .languages .lang span {
          color: #fff;
          font-family: "Raleway", sans-serif;
          font-weight: 100;
          font-size: 18px; }
